@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*----------------------- General */
.uppercase{
    text-transform: uppercase;
}

.row-center{
    text-align: center;
}

.row{
    --bs-gutter-x: 0;
}


/*----------------------- Color */
.bg-color-desc{
    background-color: darkkhaki;
}

/*----------------------- Navbar */

.logo{
    margin-left: 50px;
}

.nav-link-margin{
    margin-right: 2%;
}

.nav-item{
    text-transform: uppercase;
    margin: 2px;
}

/*----------------------- Hero Image*/
/* https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.hero-image{
    background: url("../images/index_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 120px);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Index Page*/

.container{
    background-color: rgba(255, 255, 255, 0.4);
    width: 500px;
    height: 300px;
      
}


/*----------------------- Top Endangered*/
.top-endangered{
    min-height: calc(100vh - 120px);
    
}

.end-species{
    padding-left: 20px;
    padding-top: 40px;
}

.top-end-text{
    padding: 20px 15px;
    text-align: justify;
    text-justify: inter-word;
}

.gallery{
    background-color: darkkhaki;

}

.gallery-heading{
    padding-top: 40px;
}

/*----------------------- Causes */
.causes-section{
    min-height: calc((100vh - 120px)/2);
    margin: 0px;
}

.cause1_img{
    background-color: #525252;
    min-height: 100px;
    
}

.cause2_img{
    background-color: #525252;
}

.cause3_img{
    background-color: #525252;
}

.causes-padding{
    padding-top: 40px;
}



/*----------------------- Footer */
footer{
    background-color: #525252;
    position: relative;
    bottom: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa{
    font-size: 35px;
    padding-right: 50px;
}





/*----------------------- Media */
@media (min-width: 1000px){

}