/*----------------------- General */
.uppercase{
    text-transform: uppercase;
}

.row-center{
    text-align: center;
}

/*----------------------- Color */
.bg-color-desc{
    background-color: darkkhaki;
}

/*----------------------- Navbar */
.header{
    position: relative;
}

.logo{
    margin-left: 50px;
}

.nav-link-margin{
    margin-right: 2%;
}

.nav-item{
    text-transform: uppercase;
    margin: 2px;
}

/*----------------------- Hero Image*/
/* https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.hero-image{
    background: url("../images/index_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 120px);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Index Page*/

.container{
    background-color: rgba(255, 255, 255, 0.4);
    width: 500px;
    height: 300px;
      
}


/*----------------------- Top Endangered*/
.top-endangered{
    min-height: calc(100vh - 120px);
    
}

.end-species{
    padding-left: 20px;
    padding-top: 40px;
}

.gallery{
    background-color: aqua;
}

.gallery-heading{
    padding-top: 40px;
}


/*----------------------- Footer */
footer{
    background-color: #525252;
    position: absolute;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa{
    font-size: 35px;
    padding-right: 50px;
}





/*----------------------- Media */
@media (min-width: 1000px){

}