@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*----------------------- General */
.uppercase{
    text-transform: uppercase;
}

.row-center{
    text-align: center;
}

/*----------------------- Color */
.bg-color-desc{
    background-color: darkkhaki;
}

.bg-color{
    background-color: #525252;
}

/*----------------------- Navbar */

.logo{
    margin-left: 50px;
}

.nav-link-margin{
    margin-right: 2%;
}

.nav-item{
    text-transform: uppercase;
    margin: 2px;
}

.navbar-custom {
    background-color: #525252;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: rgb(255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #bdb5b3;
}


/* https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */

/* Set the border color */     
.custom-toggler.navbar-toggler {
    border-color: white;
}
        /* Setting the stroke to green using rgb values (0, 128, 0) */
          
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----------------------- Hero Image*/
/* https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.hero-image{
    background: url("../images/index_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 120px);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Index Page*/

.container{
    background-color: rgba(255, 255, 255, 0.4);
    width: 500px;
    height: 300px;
      
}


/*----------------------- Top Endangered*/
.top-endangered{
    min-height: calc(100vh - 120px);
    
}

.end-species{
    padding-top: 40px;
}

.top-end-text{
    padding: 20px 15px;
    text-align: justify;
    text-justify: inter-word;
}

.gallery{
    background-color: darkkhaki;
}

.gallery-heading{
    padding-top: 40px;
}

.w-100{
    width: 100% !important;
    height: calc(100vh - 120px);
}



/*----------------------- Causes */
.cause1_img{
    background: url(../images/causes/c-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 180px);
    overflow: hidden;

}

.cause2_img{
    background: url(../images/causes/c-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 180px);
    overflow: hidden;
}

.causes-padding{
    padding-top: 40px;
}

.cause-subheading{
    padding-top: 20px;
}

/*----------------------- Causes overlay text: reference w3schools */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.cause1_img:hover .overlay,
.cause2_img:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*----------------------- Footer */
footer{
    background-color: #525252;
    position: relative;
    bottom: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa{
    font-size: 35px;
    padding-right: 30px;
}



/*----------------------- Media */
